.board {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 70vw; */
  
    aspect-ratio: 1/1;
    margin-bottom: 5vh;
    height: 70vw;
    /* width: 70vw; */
    max-width: 600px;
    max-height: 600px;
    border: 5px solid oklch(var(--bc));
    border-radius: var(--rounded-box);
}
  
  .icon-button {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 4em;
}
  
  .cell {
    width: 100%;
    height: 100%;
    display: inline;
}
  .row {
    height: 33.3333%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
  #row-2 {
    border-top: 5px solid oklch(var(--bc));
    border-bottom: 5px solid oklch(var(--bc));
}
  
  .center-cell {
    border-left: 5px solid oklch(var(--bc));
    border-right: 5px solid oklch(var(--bc));
}

/* ---------- */

.tray {
  display: flex;
  border: 5px solid oklch(var(--bc));
  border-radius: var(--rounded-box);
}

.tray-icon-button {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 4em;
}