#game-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

#game-flex-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  
  /* TODO -> MOBILE / VERTICAL */
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.board {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 35vw; */
  
    aspect-ratio: 1/1;
    margin: 2.5vh;
    width: 60%;
    /* height: 35vw;
    /* width: 35vw; */
    /* max-width: 600px;
    max-height: 600px; */
    border: 5px solid oklch(var(--bc));
    border-radius: var(--rounded-box);
}
  
.icon-button {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 3em;
}
  
.cell {
    width: 100%;
    height: 100%;
    display: inline;
}
.row {
    height: 33.3333%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
#row-2 {
    border-top: 5px solid oklch(var(--bc));
    border-bottom: 5px solid oklch(var(--bc));
}
  
.center-cell {
    border-left: 5px solid oklch(var(--bc));
    border-right: 5px solid oklch(var(--bc));
}

/* ---------- */

.tray {
  border: 5px solid oklch(var(--bc));
  border-radius: var(--rounded-box);
}

.tray-vertical {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5vh);
  width: 20%;
  max-height: 600px;
}

.tray-horizontal {
  display: flex;
  flex-direction: row;
  aspect-ratio: 3/1;
  height: 20%;
  max-width: 600px;
}

.tray-cell {
  width: 100%;
  height: 100%;
}

.tray-icon-button {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

#tray-board-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}