---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			// ☝️ This script prevents the FART effect.
			if (localStorage.getItem("theme") === null) {
				document.documentElement.setAttribute("data-theme", "auto");
			} else
				document.documentElement.setAttribute(
				"data-theme",
				localStorage.getItem("theme")
				);
			// "theme" LocalStorage value is set by the package to remember user preference.
			// The value is checked and applyed before rendering anything.
		</script>
		<script>
			import { themeChange } from 'theme-change';
			themeChange();
			// 👆 you could import the CDN directly instead of these two lines
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: system-ui, sans-serif;
		overflow: hidden;

		/* For desktops, use 100vh as the height of everything */
		height: 100vh;
		/* For mobile devices, since bars crop the viewport, use this property that works somehow */
		height: -webkit-fill-available;

		width: 100vw;

		margin: 0;
		padding: 0;
	}

	body {
		height: inherit;
		width: inherit;
		margin: 0;
		padding: 0;

		background: linear-gradient(135deg, #1a1b26, #7aa2f7, #bb9af7, #f7768e);
		background-size: 150% 150%;
		animation: gradient 10s ease infinite;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
